.item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-content {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 120px); // Adjust based on header and footer height
    flex: 1;
}